@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bright-blue: 220 98% 61%;
    --color-very-light-gray: 0 0% 98%;
    --color-very-light-grayish-blue: 236 33% 92%;
    --color-light-Gbrayish-blue: 233 11% 84%;
    --color-dark-grayish-blue: 236 9% 61%;
    --color-very-dark-grayish-Blue: 235 19% 35%;
  }
  .dark {
    --color-very-dark-blue: 235 21% 11%;
    --color-very-dark-desaturated-blue: 235 24% 19%;
    --color-light-grayish-blue: 234 39% 85%;
    --color-light-grayish-blue-hover: 236 33% 92%;
    --color-dark-grayish-blue: 234 11% 52%;
    --color-very-dark-grayish-blue: 233 14% 35%;
  }
}
